@model Csharp3_A3.Models.PageContent
@{
	ViewData["Title"] = "Wellness";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">@Model.PageTitle</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="@Model.Cards[0].ImgPath" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>@Model.Cards[0].BodyTitle</h4>
                        <p>@Model.Cards[0].Body</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="@Model.Cards[1].ImgPath" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>@Model.Cards[1].BodyTitle</h4>
                        <p>@Model.Cards[1].Body</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>